.page {
  margin: 0 auto;
  font-family: 'Nunito', Arial, sans-serif;
  width: 1152px;
}
.header {
  position: relative;
  width: 1152px;
  height: 800px;
  margin: 0 auto;
}
.logo__header {
  position: absolute;
  display: flex;
  width: 192px;
  height: 33px;
  left: 80px;
  top: 23px;
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.25em;
  color: #3E3F43;
  align-items: center;
  z-index: 2;
}
.logo__header_img {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}
.header__menu {
  z-index: 2;
  display: flex;
  width: 430px;
  height: 22px;
  justify-content: space-around;
  padding-top: 27px;
  margin-left: 387px;
}

.header__menu_link {
  margin: 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: rgba(34, 34, 34, 0.75);
  z-index: 2;
  text-decoration: none;
}
.header__menu_link:hover {
  background-color: darkgrey;
}
.menu_link_current-page {
  font-weight: 800;
  color: #DAA520;
}
.header__background {
  background: url(../images/Rectangle4.svg);
  width: 370px;
  height: 800px;
  left: 782px;
  top: 0px;
  position: absolute;
  z-index: 1;
}
.header__image_table {
  position: absolute;
  width: 568px;
  height: 577px;
  left: 584px;
  top: 165px;
  z-index: 2;
}
.header__subtitle {
  width: 504px;
  height: 376px;
  margin-left: 102px;
  margin-top: 217px;
}
.header__subtitle_small {
  font-weight: normal;
  font-size: 36px;
  line-height: 49px;
  color: #3E3F43;
  margin-top: 0px;
  margin-bottom: 16px;
}
.subtitle_small_bold {
  font-weight: bold;
}
.header__subtitle_large {
  font-weight: bold;
  font-size: 72px;
  line-height: 98px;
  color: #313235;
  margin-top: 0px;
  margin-bottom: 16px;
}

.button {
  display: inline-block;
  padding: 14px 24px;
  background: #DAA520;
  border-radius: 4px;
}

.button_link {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  text-decoration: none;
}
.button:hover {
  background-color: darkturquoise;
}
.about {
  position: relative;
  width: 1152px;
  height: 950px;
    margin-top: 120px;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 952px;
  height: 98px;
  margin-left: auto;
  margin-right: auto;
}
.title_big {
  font-weight: 800;
  font-size: 72px;
  line-height: 98px;
  text-align: right;
  color: rgba(34, 34, 34, 0.1);
}
.title_small {
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  color: #3E3F43;
}
.about__description {
  width: 1052px;
  height: 812px;
  margin-left: 100px;
  margin-top: 40px;
}
.about__first {
  width: 1052px;
  height: 388px;
}
.about__first_background {
  background: url(../images/Rectangle5.svg);
  width: 278px;
  height: 388px;
  position: absolute;
  z-index: 1;
}
.about__first_image {
  margin-left: 38px;
  margin-top: 82px;
  z-index: 2;
  position: absolute;
}
.about__first_text {
  display: flex;
  position: absolute;
  left: 604px;
  margin-top: 104px;
  flex-direction: column;
  flex-wrap: wrap;
  width: 448px;
  height: 180px;
}
.first_text_title {
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 49px;
  color: #3E3F43;
  margin: 0 auto;
}
.first_text_title_normal {
  font-weight: normal;
}
.first_text_subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  margin-top: 16px;
  margin-bottom: 0px;
}
.about__second_image {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.about__second_text {
  display: flex;
  position: absolute;
  margin-top: 167px;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 648px;
  height: 131px;
}
.second_text_title {
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  color: #000000;
  margin-top: 0px;
  margin-bottom: 16px;
}
.second_text_title_bold {
  font-weight: bold;
}
.second_text_subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
  margin-top: 0px;
  margin-bottom: 0px;
}
.how {
  padding-top: 120px;
  width: 952px;
  height: 453px;
  margin: 0 auto;
}
.how__steps {
  width: 952px;
  height: 177px;
  display: flex;
  flex-direction: row;
  padding-left: 0px;
  margin-top: 64px;
  margin-bottom: 0px;
  list-style-type: decimal;
}
.how__steps_cell {
  position: relative;
  width: 238px;
  height: 177px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #000000;
}
.cell_number {
  font-style: normal;
  font-weight: 600;
  font-size: 96px;
  line-height: 131px;
  text-align: center;
  color: rgba(249, 189, 189, 0.25);
  position: absolute;
}
.cell_one {
  left: 17px;
  top: 18.5px;
}
.cell_two {
  left: 29px;
  top: 23px;
}
.cell_three {
  left: 20px;
  top: 23.5px;
}
.cell_four {
  left: 20px;
  top: 22.5px;
}
.button_how {
  /* не получилось зацентровать через margin-left auto */
  margin-top: 64px;
  margin-left: 40%;
}
.categories {
  margin-top: 145px;
  width: 952px;
  height: 978px;
  margin-left: auto;
  margin-right: auto;
}
.categories__list {
  width: 952px;
  height: 840px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0px;
  align-content: center;
  margin-top: 40px;
}
.list_cell {
  display: flex;
  margin-right: 56px;
  width: 280px;
  height: 400px;
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  color: #3E3F43;
  flex-direction: column;
}
.list_cell:nth-child(3n+1) {
  background-image: url(../images/Rectangle1.svg);
}

.list_cell:nth-child(3n+2) {
  background-image: url(../images/Rectangle2.svg);
}
.list_cell:nth-child(3n+3) {
  background-image: url(../images/Rectangle3.svg);
}
.list_cell:nth-child(3n+3) {
  margin-right: 0px;
}

.list_cell:nth-child(1n+3) {
  margin-bottom: 0px;
}
.list_cell:nth-child(1n+2) {
  padding: 0 auto;
}
.cell_img {
  margin: 0 auto;
}
.button_cell {
  width: 123px;
  height: 40px;
  position: absolute;
  background: none;
  border: 1px solid #3E3F43;
  margin-left: 141px;
  margin-top: 344px;
  padding: 0px;
  text-align: center;
}
.list_cell_text {
  position: absolute;
  margin-left: 16px;
  margin-top: 24px;
}
.list_cell_img {
margin-left: 0px;
margin-right: auto;
margin-top: auto;
margin-bottom: auto;
}
.list_cell_img_center {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.footer {
  width: 1152px;
  height: 455px;
  z-index: 1;
  position: relative;
  margin-top: 120px;
}
.footer__background_img {
  position: absolute;
  width: 508px;
  height: 455px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
}
.footer__background {
  background-image: url(../images/pexels2.svg);
  width: 644px;
  height: 455px;
  z-index: 1;
}
.footer__background_line {
  position: absolute;
  display: flex;
  width: 708px;
  border: 1px solid #C4C4C4;
  z-index: 2;
  margin-left: 108px;
  margin-top: 208px;
}
.footer__info {
  position: absolute;
  width: 709px;
  height: 138px;
  margin-top: 232px;
  margin-left: 107px;
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0px;
}
.column_title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #333333;
  text-decoration: none;
  margin-top: 0px;
  margin-bottom: 16px;
}
.footer__column-links{
  box-sizing: content-box;
  list-style: none;
  text-decoration: none;
  padding-left: 0px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__column-link{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #8D8D8D;
  text-decoration: none;
}
.footer__column-link:hover {
  background-color: black;

}
.logo_footer {
  position: relative;
  top: 0px;
  left: 0px;
}
.footer__copyright {
  position: absolute;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #8D8D8D;
  margin-top: 415px;
  margin-left: 524px;
}
